---
const { name,img, lastname ,id} = Astro.props;
---
<div class="card-container">
    <img src={img} alt="" class="img-defaulP" style="border : white 1px solid">
    <a href="" style="border : white 1px solid; color:black"> {name + " " + lastname}</a>
    <p>lista de Juego</p>
    <h2>Reputacion</h2>
</div>
<style>
    .card-container{
           
        background-color: rgb(46, 59, 130);
        border-radius: 2rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    width: 250px;
        border: red 1px solid;
    }
    .img-defaulP{
        border-radius: 5rem;
    
    }

</style>


