---
---
<nav class="container-nav">
    <img src="" alt=" aqui va logo">
    <div class="section-ref">
        <a href="/">Inicio</a>
        <a href="/perfil/">Perfil</a>
        <a href="/contacto">Contacto</a>
        <a href="/noticias"> Noticias</a>
    </div>
</nav>
<style>
    .container-nav{
        align-items: center;
        justify-content: space-between;
        display: flex;
        border: red 1px solid;
        width: 100vw;
        height: 8vh;
    }
    .section-ref{
        display:flex;
        width: 25%;
        justify-content: space-around;
    }
</style>