---
import $ from "jquery"
 

--- 
<div>
  <form>
    <div>
      <label for="name">Nombre:</label>
      <div>
        <input type="text" id="name" name="name" required>
        <div id="msg-name"></div>
      </div>
      
    </div>
    <div>
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" required>
      <div id="msg-email"></div>
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required minlength="8">
    </div>
    <div>
      <label for="confirm-password">Confirmar contraseña:</label>
      <input type="password" id="confirm-password" name="confirm-password" required minlength="8">
      <div id="msg-password"></div>
    </div>
    <button type="submit">Enviar</button>
  </form>
  
  <div id="messages"></div>
  
  <script>
 $(document).ready(function() {
  const form = $('form');
  const messages = $('#messages');
  const msgName = $('#msg-name');
  const msgEmail = $('#msg-email');
  const msgPassword = $('#msg-password');
  const expreR = {
    name: /^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$/,
    email:/^[\w-.]+@([\w-]+\.)+[\w-]{2,}$/i,
}

  form.on('submit', function(event) {
    event.preventDefault();
    messages.empty();
    msgName.empty()
    msgEmail.empty();
    msgPassword.empty(); 
    const name = $('#name');
    const email = $('#email');
    const password = $('#password');
    const confirmPassword = $('#confirm-password');
    if(!name.val().length) {
      const errorMessage = $('<h1>').text('Este campo es requerido');
      msgName.append(errorMessage);
      return;
    }else if(!expreR.name.test(name.val())){
      const errorMessage = $('<h1>').text('Solo debe contener letras');
      msgName.append(errorMessage);
      return;
    }
    if(!email.val().length) {
      const errorMessage = $('<h1>').text('Este campo es requerido');
      msgEmail.append(errorMessage);
      return;
    }else if(!expreR.email.test(email.val())){
      const errorMessage = $('<h1>').text('Debe ser un email');
      msgEmail.append(errorMessage);
      return;
    }

    if (password.val() !== confirmPassword.val()) {
      console.log("holaaaaaa")
      const errorMessage = $('<h1>').text('Las contraseñas no coinciden');
      msgPassword.append(errorMessage);
      return;
    }

    const successMessage = $('<h1>').text('El formulario se ha enviado correctamente');
    messages.append(successMessage);
  });
});
  </script>
</div>
