---
 
--- 
<div>
  <form>
    <div class="container text-center borde rounded-pill ">
      <div class="row-12 ">
        <div class="col-12  m-3 ">
          <label for="name" class="letra ">Nombre:</label>
        <div>
          <input class="lineas m-2 rounded-pill" type="text" id="name" name="name" required>
          <div id="msg-name"></div>
        </div>
      </div>
      <div class="row-12 ">
        <div class="col-12 m-3">
          <label for="email" class="letra" >Correo electrónico:</label><br>
          <input class="lineas m-2 rounded-pill" type="email" id="email" name="email" required>
          <div id="msg-email"></div>
        </div>
      </div>
      <div class="row-12">
        <div class="col-12 m-3">
          <label for="password" class="letra" >Contraseña:</label><br>
          <input class="lineas m-2 rounded-pill" type="password" id="password" name="password" required minlength="8">
        </div>
      </div>
      <div class="row-12">
        <div class="col-12 m-3">
          <label for="confirm-password" class="letra">Confirmar contraseña:</label><br>
          <input class="lineas m-2 rounded-pill" type="password" id="confirm-password" name="confirm-password" required minlength="8">
          <div id="msg-password"></div>
        </div>
      </div>
      <div class="row-12 ">
        <div class="col-12 m-3 text-center">
          <button class="miBoton lineas rounded-pill m-3" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
  </form>

 



  
  <div id="messages"></div>
  
  <script>
 $(document).ready(function() {
  const form = $('form');
  const messages = $('#messages');
  const msgName = $('#msg-name');
  const msgEmail = $('#msg-email');
  const msgPassword = $('#msg-password');
  const expreR = {
    name: /^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$/,
    email:/^[\w-.]+@([\w-]+\.)+[\w-]{2,}$/i,
}

  form.on('submit', function(event) {
    event.preventDefault();
    messages.empty();
    msgName.empty()
    msgEmail.empty();
    msgPassword.empty(); 
    const name = $('#name');
    const email = $('#email');
    const password = $('#password');
    const confirmPassword = $('#confirm-password');
    if(!name.val().length) {
      const errorMessage = $('<p class="text-center text-danger">').text('Este campo es requerido');
      msgName.append(errorMessage);
      return;
    }else if(!expreR.name.test(name.val())){
      const errorMessage = $('<p class="text-center text-danger">').text('Solo debe contener letras');
      msgName.append(errorMessage);
      return;
    }
    if(!email.val().length) {
      const errorMessage = $('<pclass="text-center text-danger">').text('Este campo es requerido');
      msgEmail.append(errorMessage);
      return;
    }else if(!expreR.email.test(email.val())){
      const errorMessage = $('<p class="text-center text-danger">').text('Debe ser un email');
      msgEmail.append(errorMessage);
      return;
    }

    if (password.val() !== confirmPassword.val()) {
      console.log("holaaaaaa")
      const errorMessage = $('<p class="text-center text-danger">').text('Las contraseñas no coinciden');
      msgPassword.append(errorMessage);
      return;
    }

    const successMessage = $('<h1 class="text-center text-success">').text('El formulario se ha enviado correctamente');
    messages.append(successMessage);
  });
});
  </script>
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


  .miBoton {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #240090;
  color: #ffffff;
  text-shadow: 2px 2px 0 #000000;

}

.lineas {
  border: 4px solid #3500D3;
  

}
.borde {
  border: 4px solid #3500D3;
  background: linear-gradient( #181818 20% , #313131 30%, #333232 35%, #4b4a4a 60%, #181818 80%  );
  color: #181818;
	

}

.letra {
  color: #ffffff ;
  text-shadow: 2px 2px 0 #240090, -2px -2px 0 #240090, 2px -2px 0 #240090, -2px 2px 0 #240090;
  font-family: 'Roboto', sans-serif;
  font-weight: 900 ;
}

.error {
  color: #a00101 ;
  text-shadow: 2px 2px 0 #330000, -2px -2px 0 #330000, 2px -2px 0 #330000, -2px 2px 0 #330000;
  font-family: 'Roboto', sans-serif;
  font-weight: 900 ;

}
</style>