---
import Layout from "../layouts/Layout.astro";
---
<Layout title="presentacion de la empresa">
    
    <div class="container-sm p-4 mt-4 mb-4 border h-100">
        <div class="row">        
            <div class="col border text-center">
              Banner de la empresa
            </div>          
        </div>
        <div class="container border">
            <div class="row">
              <div class="col-12 text-center p-5 ">
                <p class="fs-2"> Descubre una nueva forma de compartir y leer críticas de videojuegos en nuestra red social</p>
                <p class="fs-2"> Comparte tus opiniones sobre los titulos mas actuales y descubre lo que otros jugadores piensan de tus juegos favoritos en un entorno amigable y práctico.</p>
                <p class="fs-2"> Nuestra plataforma te permite explorar críticas detalladas, comentar y seguir a otros usuarios con intereses similares.</p>
                <p class="fs-2"> ¿que estas esperando?</p>
              </div>
            </div>
          </div>
          
        <div class="row">        
            <div class="col border text-center p-4">
                <button type="button" class="btn btn-primary btn-lg">Inicio</button>
            </div>          
        </div>
    </div>



</Layout>