---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import {useStore} from "@nanostores/preact";
import { users } from '../../store';
import ContainerCard from '../components/smart/containerCard.astro';
import ImgMask from '../components/dumb/imgMask.astro';
import {createUser} from "../Ajax/ajax.js"




  
---

<Layout title="Welcome to Astro." >

<ContainerCard  />
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
v
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<div class="d-flex justify-content-around">
	<ImgMask class=" col-5" />
	<div class="col-5 row d-flex align-items-center justify-content-center">
		<div>
			<h6>los Mejores Juegos</h6>
			<h1>Encontra las Mejores Reseñas</h1>
		</div>
		
		<button class="col-3"> Buscar Opiniones</button>
	</div>
</div>


<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1><h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
<h1>a</h1>
</Layout>


<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
