---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Perfil Personal">
        
  
        <div class="container-sm p-4 mt-4 ">
            <div class="row">
                <div class="col-10 text-center justify-content-center align-item-center mx-auto p-3 ">
                <img src="https://www.pngkit.com/png/detail/799-7998601_profile-placeholder-person-icon.png" class="img-fluid w-25 rounded-circle lineas "><br> <h1 class="m-3 nombrePerfil">nombre perfil</h1>
                </div>
            <div class="row justify-content-center align-item-center mx-auto p-3">
                <div class="col-6 lineas rounded-pill text-center text-white p-5 descripcion">
                  <p class=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                </div>
            </div>
            <div class="row">        
                <div class="col text-center text-white">
                  <h2 class="follow">Seguidos : 280 </h2>
                </div>        
                <div class="col text-center text-white">
                 <h2 class="follow"> Seguidores : 7 </h2>
                </div>        
            </div>
        </div>
      </div>
      <div class="container-sm pt-3 pb-3 text-center ">
      <div class="card">
        <div class="card-body overflow-auto descripcion lineas" style="max-height: 300px;">
          <div class="row ">
            <a href="https://www.google.com" class=" btn col-6 col-sm-3 lineas"><img src="https://s3-alpha.figma.com/hub/file/948140848/1f4d8ea7-e9d9-48b7-b70c-819482fb10fb-cover.png" class="img-fluid border"></a>
            <a href="https://www.google.com" class=" btn col-6 col-sm-3 lineas"><img src="https://s3-alpha.figma.com/hub/file/948140848/1f4d8ea7-e9d9-48b7-b70c-819482fb10fb-cover.png" class="img-fluid border"></a>
            <a href="https://www.google.com" class=" btn col-6 col-sm-3 lineas"><img src="https://s3-alpha.figma.com/hub/file/948140848/1f4d8ea7-e9d9-48b7-b70c-819482fb10fb-cover.png" class="img-fluid border"></a>
            <a href="https://www.google.com" class=" btn col-6 col-sm-3 lineas"><img src="https://s3-alpha.figma.com/hub/file/948140848/1f4d8ea7-e9d9-48b7-b70c-819482fb10fb-cover.png" class="img-fluid border"></a>
            <a href="https://www.google.com" class=" btn col-6 col-sm-3 lineas"><img src="https://s3-alpha.figma.com/hub/file/948140848/1f4d8ea7-e9d9-48b7-b70c-819482fb10fb-cover.png" class="img-fluid border"></a>
            <a href="https://www.google.com" class=" btn col-6 col-sm-3 lineas"><img src="https://s3-alpha.figma.com/hub/file/948140848/1f4d8ea7-e9d9-48b7-b70c-819482fb10fb-cover.png" class="img-fluid border"></a>
            <a href="https://www.google.com" class=" btn col-6 col-sm-3 lineas"><img src="https://s3-alpha.figma.com/hub/file/948140848/1f4d8ea7-e9d9-48b7-b70c-819482fb10fb-cover.png" class="img-fluid border"></a>
            <a href="https://www.google.com" class=" btn col-6 col-sm-3 lineas"><img src="https://s3-alpha.figma.com/hub/file/948140848/1f4d8ea7-e9d9-48b7-b70c-819482fb10fb-cover.png" class="img-fluid border"></a>
        </div>
      </div>
    </div>
  </div>
      
</Layout>

<style>

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

.lineas {
  border: 4px solid #3500D3;

}

.follow {
  color: #7362a7 ;
  text-shadow: 2px 2px 0 #240090, -2px -2px 0 #240090, 2px -2px 0 #240090, -2px 2px 0 #240090;
  font-family: 'Roboto', sans-serif;
  font-weight: 900 ;
}

.descripcion {
  text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400 ;
  background-color: #282828;
  background-size: cover;
}

.nombrePerfil {
  color: #7362a7 ;
  text-shadow: 2px 2px 0 #240090, -2px -2px 0 #240090, 2px -2px 0 #240090, -2px 2px 0 #240090;
  font-family: 'Roboto', sans-serif;
  font-weight: 400 ;
  text-size-adjust: 10px;
}
</style>