---
import Layout from '../layouts/Layout.astro';
import Form from '../components/dumb/form.astro';

---
<Layout title="form">
    <div class="container rounded-pill p-3 text-center col-4 m-5 letra borde "><h1>Formulario de registro</h1></div>
  <Form />
<div class= "body m-5">aaaa</div>
<div class= "body m-5">aaaa</div>
<div class= "body m-5">aaaa</div>


</Layout>


<style> 
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
.body {		
        background: linear-gradient(to right, #181818 5% , #313131 11%, #333232 13%, #4b4a4a 80%, #302f2f 90%  );
color: #181818;
		margin: 0;
		width: 100%;
		height: 100%;

	}
    .lineas {
  border: 4px solid #3500D3;

}
.letra {
  color: #ffffff ;
  text-shadow: 2px 2px 0 #240090, -2px -2px 0 #240090, 2px -2px 0 #240090, -2px 2px 0 #240090;
  font-family: 'Roboto', sans-serif;
  font-weight: 400 ;
}
.borde {
  border: 4px solid #3500D3;
  background: linear-gradient( #181818 20% , #313131 30%, #333232 35%, #4b4a4a 60%, #181818 80%  );
	
}
</style>
